@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>

<p>
    The following links are for pamphlets that describe some frequently asked questions about A.A. and provide information on what the program is like. 
<ul>
    <li><a href="http://www.aa.org/assets/en_US/p-1_thisisaa1.pdf">This is A.A.</a></li>
    <li><a href="http://www.aa.org/assets/en_US/p-42_abriefguidetoaa.pdf">A Brief Guide to A.A.</a></li>
    <li><a href="http://www.aa.org/assets/en_US/m-24_aafactfile.pdf">A.A. Fact File</a></li>
    <li><a href="http://www.aa.org/assets/en_US/P-35_ProOtherThanAlcohol.pdf">Problems Other Than Alcohol</a></li>
    <li><a href="https://www.aa.org/assets/en_US/p-2_faqAboutAA.pdf"></a>FAQ about A.A.</li>
    <li><a href="https://www.aa.org/assets/en_US/p-24_anewcomerask.pdf">A Newcomer Asks</a></li>
    <li><a href="https://www.aa.org/assets/en_US/p-13_doyouthinkyourediff.pdf">Do You Think You're Different</a></li>
</ul>    
</p>
