@{
    ViewData["Title"] = "Contact";
}
<h2>Local Contacts and Information</h2>
<p/>Appleton Hotline - 24 Hours: 920-731-4331
<br />Oshkosh Hotline - 24 Hours: 920-410-4620
<!--<p/>
District Committee Member: Brent H: dcm@@district02aa.org<br/>
Treasurer: Tim M.: treasurer@@district02aa.org
Newsletter: newsletter@@district02aa.org
<p/>-->
Email District 02 with questions or for general information about Alcoholics Anonymous: district02meetings@gmail.com

<p>Reminder - Tradition 11 states - Our public relations policy is based on attraction rather than promotion; 
we need always maintain personal anonymity at the level of press, radio, and films.
Publicly accessible aspects of the Internet such as Web sites featuring text, graphics, audio and video ought to be considered another form of "public media". 
Thus, they need to be treated in the same manner as press, radio, TV and films. 
This means that full names and faces should not be used. 
However, the level of anonymity in e-mail, online meetings and chat rooms would be a personal decision.</p>
<!--<h2>Committee Contact Information</h2>
<p>Answering Service and Hotline: Email Questions and Comments: 

Archives: Matters regarding historical records of Alcoholics Anonymous for Area 74 District 02. Email Questions and Comments: 
<p/>
Correctional Facilities: Matters regarding carrying the AA message into a variety of correctional settings. All inquiries from Correctional Facilities and Institutions.
Email Questions and Comments: 
<p/>
Public Information: Matters regarding A.A.’s relationship with the general public including schools, students and Media professionals. Questions pertaining to the Anonymity of AA members at the public level.
Email Questions and Comments: 
<p/>
Treatment Facilities Committee: Matters regarding carrying the AA message into hospitals, rehabilitation centers and treatment facilities. Email Questions and Comments: 
<p/>Grapevine Committee: Email Questions and Comments:  -->
<h2>AA General Service Office Contact Information</h2>
A.A. Group Services: Matters regarding informational and service material available from the General Service Office of Alcoholics Anonymous. All inquiries from Spanish speaking members and groups in the US and Canada. Liaison to Central Offices and Intergroups in the U.S. and Canada, Remote Communities and for the G.S.O. Web Site. Email A.A. Group Services  EastCentralRegion@aa.org

Literature: Matters regarding A.A. recovery literature including changes to existing recovery literature and Box 4-5-9. All inquiries from Literature Committees in the US and Canada. Email A.A. Literature  Orders@aa.org 