
@{
    ViewData["Title"] = "Events";
}

<h2>Events</h2>
<h3><a href="http://www.district02aa.org/Events/Current%20Newsletter%20Events.pdf">Current Newsletter Events</a></h3>
<h3>Intergroup &amp; Upcoming Special Event Fliers</h3>
<p><b>***ATTENTION***</b></p>
<p>Our district, District 02, is hosting the Spring Conference!!!</p>
<p>Friday, May 17, 2019; 3:00 pm - Sunday May 19 2019, 12:00 PM CST</p>
<p>At Liberty Hall and Hilton: 800 Eisenhower Dr. Kimberly, WI</p>
<p><a href="https://events.eventzilla.net/e/area-74-2019-spring-conference--2138916518">Click here to register</a></p>
<p><a href="http://www.district02aa.org/Events/Spring2019Conference%20Final.pdf">Click here for 2019 Spring Conference Flier</a></p>
