
@{
    ViewData["Title"] = "Forms";
}

<h2>Forms</h2>
<h3>Newsletter Subscription Information</h3>
<p>For subscriptions, issues, and feedback, send an email lto the correct address below. </p>
<h4><a href="mailto:newsletter@district02aa.org?subject=NewsletterRequest">District 02 Newsletter</a></h4>
<h4><a href="mailto:area74newsletter@gmail.com?subject=NewsletterRequest">District 02 Newsletter</a></h4>
<h4><a href="http://www.aa.org/pages/en_US/subscribe-to-box-4-5-9-news-and-notes-from-gso">Box 4-5-9</a></h4>
<h3>Forms</h3>
 <h4><a href="http://www.aa.org/en_pdfs/smf-104_en.pdf">Is Your Group Linked to AA as a Whole?</a></h4>
 <h4><a href="http://www.district02aa.org/New%20Group%20Form.pdf">Alcoholics Anonymous New Group Form</a></h4>
 <h4><a href="http://www.district02aa.org/Group%20Change%20Info%20Form.pdf">Alcoholics Anonymous Group Information Change Form</a></h4>
 <h4><a href="http://www.district02aa.org/02ArchivesHistory%20Form.pdf">Group History Questionnaire for GSRs</a></h4>
<p>The Corrections Bridging the Gap program links A.A. Members inside the jail and prisons to members on the outside. To learn more about the program and to volunteer your experience, strength and hope, please complete and send the following form to the address at its bottom. </p>
 <h4><a href="http://www.district02aa.org/BTG%20Volunteer%20Form%20-%20Corrections.pdf">Corrections Bridging the Gap Form</a></h4>
<p>The Treatment Bridging the Gap program links A.A. Members inside treatment facilities to members on the outside. To learn more about the program and to volunteer your experience, strength and hope, please complete and send the following form to the address at its bottom. </p> 
<h4><a href="http://www.district02aa.org/BridgingthegapForm02.pdf">Treatment Bridging the Gap Form</a></h4>
