@{
    ViewData["Title"] = "Home";
}
<div class="jumbotron" ></div>

    <h1 class="h1">Welcome to Alcoholics Anonymous!</h1>
    <div id="hotline">

    </div>
    <div id="main">
        <span style="font-weight: 700">Welcome to Area 74 District 02</span> serving part of Northeast Wisconsin. We hope this site can assist you in finding your way around our district and
        with your recovery!
        <p>
            Alcoholics Anonymous is a fellowship of men and women who share their experience, strength and hope with each other that they may solve their common problem and help others to recover
            from alcoholism. The only requirement for membership is a desire to stop drinking. There are no dues or fees for AA membership; we are self-supporting through our own contributions.
            AA is not allied with any sect, denomination, politics, organization or institution; does not wish to engage in any controversy; neither endorses nor opposes any causes. Our primary
            purpose is to stay sober and help other alcoholics to achieve sobriety.
        </p>
        <p style="font-style:italic">Copyright © by the A.A. Grapevine, Inc.; reprinted with permission</p>
        <p style="margin-top:50px; font-style:italic;">If you want to drink, that's your business. If you want to quit, that's AA's business.</p>
    </div>

