
@{
    ViewData["Title"] = "Links";
}

<h2>Links</h2>

<ul style="text-decoration: none">
    <li><a href="https://www.aa.org/pages/en_US/box-4-5-9-news-and-notes-from-gso">Box 4-5-9</a></li>
    <li><a href="http://www.aagrapevine.org/">AA Grapevine</a></li>
    <li><a href="http://www.area74.org/home">Area 74 Website</a></li>
    <li><a href="https://b2c.aaws.org/">AAWS Online Store</a></li>
</ul>