
@{
    ViewData["Title"] = "Meetings";
}

<h2>Local Meetings</h2>
<p/>
    <h3>Meeting Lists</h3>
    <ul>
        <li><a href="https://drive.google.com/file/d/1gAAnmbddy0qTviEgOztJz4w2gA-IywyS/view?usp=sharing">Printable Meeting PDF</a></li>
        <li><a href="https://docs.google.com/spreadsheets/d/1YIAyBdXvAMT-iPxQzHnAleGDL3JE1XKwUSvBaP6JPT4/edit#gid=0">Google Meeting List</a></li>
    </ul>
    <h3>Area 74 Map</h3>
    <p>Here is a <b>map</b> of the area our district covers and contact information for the LCM for each sub-district:</p>
    <p><img src="~/images/d02map.jpg" height="400" width="250"/>
    <p>
        <h4>LCM Subdistrict Representatives:</h4>
        <ul>
            <li><a href="@@mailto:lcma@district02aa.org" target="_top"/>A: Appleton Groups</a></li>
            <li><a href="@@mailto:lcmb@district02aa.org" target="_top"/>B: Genesis Club</a></li>
            <li><a href="@@mailto:lcmc@district02aa.org" target="_top"/>C: Northern Groups</a></li>
            <li><a href="@@mailto:lcmd@district02aa.org" target="_top"/>D: Southeast Groups</a></li>
            <li><a href="@@mailto:lcme@district02aa.org" target="_top"/>E: Northern Winnebago Groups</a></li>
            <li><a href="@@mailto:lcmf@district02aa.org" target="_top"/>F: Southern Winnebago Groups</a></li>
        </ul>
    </p>
   <p>Top 3 reasons for contacting LCMs:
    <ul>
        <li>Group Change Forms</li>
        <li>Get your group on mailing lists for newsletters</li>
        <li>Starting a new meeting</li>
    </ul>
    </p>
<h3>What happens at an AA meeting?</h3>
<p>
    An A.A. meeting may take one of several forms, but at any meeting you will find alcoholics talking about what drinking did to their lives and personalities, what actions they took to help themselves, and how they are living their lives today.
</p>
<h3>Why do AAs keep on going to meetings after they are cured? </h3> 
<p>
    We in A.A. believe there is no such thing as a cure for alcoholism. We can never return to normal drinking, and our ability to stay away from alcohol depends on maintaining our physical, mental, and spiritual health. This we can achieve by going to meetings regularly and putting into practice what we learn there. In addition, we find it helps us to stay sober if we help other alcoholics.
    From "A Newcomer Asks," AA General Service Conference-approved literature, &copy; 1973, 1998 by AA World Services, Inc.; reprinted with permission. 
</p>
<p>
    <i>Alcoholics Anonymous</i> is a fellowship of men and women who share their experience, strength and hope with each other that they may solve their common problem and help others to recover from alcoholism.
The only requirement for membership is a desire to stop drinking. There are no dues or fees for A.A. membership; we are self-supporting through our own contributions.
A.A. is not allied with any sect, denomination, politics, organization or institution; does not wish to engage in any controversy; neither endorses nor opposes any causes. Our primary purpose is to stay sober and help other alcoholics to achieve sobriety. <br />
    &copy; The AA Grapevine, Inc. reprinted with permission. 
</p>




