
@{
    ViewData["Title"] = "Service";
}

<h2>Service</h2>
<h3>Committee Guidelines From GSO</h3>
<p/>Click on each link below to open a PDF containing information on the following topics:
<p/>
<ul style="text-decoration: none">
    <li><a href="http://www.aa.org/en_pdfs/mg-12_aaanswering.pdf">AA Guidelines for AA Answering Services</a></li>
    <li><a href="http://www.aa.org/en_pdfs/mg-17_archives.pdf">AA Guidelines for Archives</a></li>
    <li><a href="http://www.aa.org/en_pdfs/mg-11_coopwithprofe.pdf">AA Guidelines for Cooperation with the Professional Community</a></li>
    <li><a href="http://www.aa.org/en_pdfs/mg-7_publicinfo.pdf">AA Guidelines for Public Information</a></li>
    <li><a href="http://www.aa.org/en_pdfs/mg-14_treatfacilcomm.pdf">AA Guidelines for Treatment Facilities Committees</a></li>
    <li><a href="http://www.aa.org/assets/en_US/p-49_BridgingTheGap.pdf">AA Guidelines for Bridging the Gap</a></li>    
</ul>
<p/>
<h3>Guildelines for District 02</h3>
<ul style="text-decoration: none">
    <li><a href="http://www.district02aa.org/Dist02Area74Guidelines.pdf">District 02 Guidelines</a></li>
    <li><a href="http://www.district02aa.org/District%2002%20Newsletter%20Guidelines.pdf">District 02 Newsletter</a></li>
</ul>
